.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .login-card {
    width: 300px;
    padding: 20px;
  }
  
  .p-field {
    margin-bottom: 1.5rem;
  }
  
  button {
    width: 100%;
  }
  
  .login-container p-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  