<div class="topbar">
    <p-toolbar>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
        </button>                
        <div class="topbar-right">
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user" style="font-size: 1.5rem;"></i>            
            </button>
            <button class="p-link layout-topbar-button">
                <i class="pi pi-cog" style="font-size: 1.5rem;"></i>
            </button>
        </div>
    </p-toolbar>
</div>
